@import "../theme.module.scss";

.ActionButton {
  border-radius: 50%;
  background-color: $primary-color;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  height: $md;
  width: $md;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: box-shadow 0.05s linear, transform 0.05s linear;

  user-select: none;

  &:active {
    transform: translateY(1px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  &:hover {
    cursor: pointer;
  }
  svg {
    margin: auto;
  }
}

.inverted {
  background: $secondary-color;
  color: $primary-color;
}

.sm {
  height: $sm;
  width: $sm;
  font-size: 0.8rem;
}

.md {
  height: $md;
  width: $md;
  font-size: 1rem;
}

.lg {
  height: $lg;
  width: $lg;
  font-size: 1.8rem;
}
