@import "../theme.module.scss";

.wrapper {
  display: flex;
  background-color: $primary-color;
  color: $secondary-color;
  max-width: 100%;
  text-decoration: none;
  min-height: 70px;
  margin: 5px;
  padding: 2px 10px;
  border: $accent-color solid 2px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.type {
  display: flex;
  align-items: center;
  // margin: auto 10px auto 5px;
  font-size: $font-size;
}

.children {
  flex-grow: 2;
  width: 60%;
  font-size: 1.3rem;
  margin: auto;
  padding-left: 10px;
}

.actionComponent {
  display: flex;
  align-items: center;
  > svg {
    padding: 0 10px;

    &:last-child {
      padding-right: 0;
    }
  }
}
