@import "../theme.module.scss";

.wrapper {
  display: flex;
  background-color: $primary-color;
  color: $secondary-color;
  max-width: 100%;
  text-decoration: none;
  min-height: 70px;
  margin: 5px;
  padding: 2px;
  border: $accent-color solid 2px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.type {
  margin: auto;
  margin-right: 5px;
}

.children {
  flex-grow: 2;
  width: 60%;
  font-size: 1.3rem;
  margin: auto;
}
