// $primary-color: #770082;
// $secondary-color: white;
// $accent-color: #8e3096;

$primary-color: #7fabc3;//rgba(197, 199, 188, 0.85);
$secondary-color: #f0e4d0;// #dcc9ab; //rgba(228, 236, 241, 0.97);
$accent-color: #c37f94;//#422537; //#382430; //rgba(141, 170, 206, 1);

//$primary-color: green;
//$secondary-color: white;
//$accent-color: darkgreen;

$sm: 25px;
$md: 50px;
$lg: 70px;
$xl: 90px;

$font-size: 2rem;

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Styles for resetting native elements

.Input {
  font-weight: bold;
  max-width: 80%;
  background-color: transparent;
  border: none;
  color: $secondary-color;
  font-size: $font-size;
  font-family: $font-family;
  margin: 10px;
  border-bottom: rgba(255, 255, 255, 0.5) solid 2px;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transition: border-bottom-color 0.2s linear;

  &:focus {
    outline: none;
    border-bottom-color: rgba(255, 255, 255, 1);
  }
}

.animFromInverted {
  animation: fromInverted 0.5s ease-out;
  animation-play-state: running;
}

.animToInverted {
  animation: toInverted 0.5s ease-out;
  animation-play-state: running;
}

@keyframes fromInverted {
  from {
    color: $primary-color;
    background-color: $secondary-color;
  }
  to {
    color: $secondary-color;
    background-color: $primary-color;
  }
}

@keyframes toInverted {
  to {
    color: $primary-color;
    background-color: $secondary-color;
  }
  from {
    color: $secondary-color;
    background-color: $primary-color;
  }
}

:export {
  primary: $primary-color;
  secondary: $secondary-color;
  accent: $accent-color;
  fontFamily: $font-family;
  fontSize: $font-size;
}
